.elementor-4647 .elementor-element.elementor-element-898d65f {
    z-index: 0;
}

.elementor-4647 .elementor-element.elementor-element-f9d95fa {
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 3;
}

.elementor-4647 .elementor-element.elementor-element-df6cfb5:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-4647 .elementor-element.elementor-element-df6cfb5>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #140F38;
}

.elementor-4647 .elementor-element.elementor-element-df6cfb5>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-df6cfb5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-df6cfb5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 60px 60px 60px 60px;
}

.elementor-4647 .elementor-element.elementor-element-da25879 .vs-brand-wrapper .col-xl-2 {
    text-align: center;
}

.elementor-4647 .elementor-element.elementor-element-508a63c, 
.elementor-2285 .elementor-element.elementor-element-508a63c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 0px 0px;
}

.elementor-4647 .elementor-element.elementor-element-508a63c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-360a401 .sec-title1,
.elementor-4647 .elementor-element.elementor-element-360a401 .sec-title2 {
    font-size: 41px;
}

.elementor-4647 .elementor-element.elementor-element-82361f2:not(.elementor-motion-effects-element-type-background),
.elementor-4647 .elementor-element.elementor-element-82361f2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/05/timetable-bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-4647 .elementor-element.elementor-element-82361f2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 100px 0px;
}

.elementor-4647 .elementor-element.elementor-element-82361f2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-d690350>.elementor-container {
    max-width: 1320px;
}

.elementor-4647 .elementor-element.elementor-element-2c7c665>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-4647 .elementor-element.elementor-element-2c5cf9a .section-title {
    text-align: left;
}

.elementor-4647 .elementor-element.elementor-element-2c5cf9a .title-selector {
    color: #FFFFFF;
}

.elementor-4647 .elementor-element.elementor-element-b06a8f6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-4647 .elementor-element.elementor-element-ee6d02d {
    padding: 0px 0px 120px 0px;
}

.elementor-4647 .elementor-element.elementor-element-83124c2>.elementor-container {
    max-width: 1320px;
}

.elementor-4647 .elementor-element.elementor-element-435c117:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-4647 .elementor-element.elementor-element-435c117>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #140F38;
}

.elementor-4647 .elementor-element.elementor-element-435c117>.elementor-element-populated {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-435c117>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-435c117>.elementor-element-populated>.elementor-widget-wrap {
    padding: 120px 60px 60px 60px;
}

.elementor-4647 .elementor-element.elementor-element-46d0410 .section-title {
    text-align: left;
}

.elementor-4647 .elementor-element.elementor-element-b885e04:not(.elementor-motion-effects-element-type-background),
.elementor-4647 .elementor-element.elementor-element-b885e04>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0F1116;
}

.elementor-4647 .elementor-element.elementor-element-b885e04 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px;
}

.elementor-4647 .elementor-element.elementor-element-b885e04>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-6dba48f>.elementor-container {
    max-width: 1320px;
}

.elementor-4647 .elementor-element.elementor-element-c85aebe>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-4647 .elementor-element.elementor-element-12e91f6 .section-title {
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.elementor-4647 .elementor-element.elementor-element-12e91f6 .title-selector {
    color: #FFFFFF;
}

.elementor-4647 .elementor-element.elementor-element-769bd15>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-4647 .elementor-element.elementor-element-37c1a4a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "DM Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
}

.elementor-4647 .elementor-element.elementor-element-37c1a4a>.elementor-widget-container {
    margin: 0px 16px 0px 0px;
}

.elementor-4647 .elementor-element.elementor-element-37c1a4a {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-4647 .elementor-element.elementor-element-47d8a60 .elementor-repeater-item-f4311c8.elementor-social-icon {
    background-color: #D63084;
}

.elementor-4647 .elementor-element.elementor-element-47d8a60 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
}

.elementor-4647 .elementor-element.elementor-element-47d8a60 .elementor-widget-container {
    text-align: center;
}

.elementor-4647 .elementor-element.elementor-element-47d8a60 .elementor-social-icon {
    --icon-padding: 0.9em;
}

.elementor-4647 .elementor-element.elementor-element-59c3e85>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-4647 .elementor-element.elementor-element-beeb4ec:not(.elementor-motion-effects-element-type-background),
.elementor-4647 .elementor-element.elementor-element-beeb4ec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0F0C2B;
}

.elementor-4647 .elementor-element.elementor-element-beeb4ec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 90px 0px;
}

.elementor-4647 .elementor-element.elementor-element-beeb4ec>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-45b50f8>.elementor-container {
    max-width: 1320px;
}

.elementor-4647 .elementor-element.elementor-element-24fb10b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-4647 .elementor-element.elementor-element-00e8c8c .section-title {
    text-align: left;
}

.elementor-4647 .elementor-element.elementor-element-927597d:not(.elementor-motion-effects-element-type-background),
.elementor-4647 .elementor-element.elementor-element-927597d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0B0C10;
}

.elementor-4647 .elementor-element.elementor-element-927597d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 90px 0px;
}

.elementor-4647 .elementor-element.elementor-element-927597d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4647 .elementor-element.elementor-element-a624552>.elementor-container {
    max-width: 1320px;
}

.elementor-4647 .elementor-element.elementor-element-2a12665>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-4647 .elementor-element.elementor-element-a5330a5 .section-title {
    text-align: left;
}

.elementor-4647 .elementor-element.elementor-element-a5330a5 .title-selector {
    color: #FFFFFF;
}

.elementor-4647 .elementor-element.elementor-element-36236ed {
    padding: 120px 0px 120px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4647 .elementor-element.elementor-element-df6cfb5 {
        width: 100%;
    }

    .elementor-4647 .elementor-element.elementor-element-2c7c665 {
        width: 100%;
    }

    .elementor-4647 .elementor-element.elementor-element-b06a8f6 {
        width: 100%;
    }

    .elementor-4647 .elementor-element.elementor-element-c85aebe {
        width: 100%;
    }

    .elementor-4647 .elementor-element.elementor-element-59c3e85 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-4647 .elementor-element.elementor-element-f9d95fa {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-508a63c {
        padding: 60px 0px 0px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-360a401 .sec-title1,
    .elementor-4647 .elementor-element.elementor-element-360a401 .sec-title2 {
        font-size: 28px;
    }

    .elementor-4647 .elementor-element.elementor-element-82361f2 {
        padding: 60px 0px 50px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-2c5cf9a .section-title {
        text-align: center;
    }

    .elementor-4647 .elementor-element.elementor-element-ee6d02d {
        padding: 0px 0px 60px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-435c117>.elementor-element-populated>.elementor-widget-wrap {
        padding: 60px 15px 0px 15px;
    }

    .elementor-4647 .elementor-element.elementor-element-46d0410 .section-title {
        text-align: center;
    }

    .elementor-4647 .elementor-element.elementor-element-b885e04 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-12e91f6 .section-title {
        text-align: center;
    }

    .elementor-4647 .elementor-element.elementor-element-59c3e85>.elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-beeb4ec {
        padding: 60px 0px 30px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-00e8c8c .section-title {
        text-align: center;
    }

    .elementor-4647 .elementor-element.elementor-element-927597d {
        padding: 60px 0px 30px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-a5330a5 .section-title {
        text-align: center;
    }

    .elementor-4647 .elementor-element.elementor-element-36236ed {
        padding: 60px 0px 60px 0px;
    }
}

@media(max-width:767px) {
    .elementor-4647 .elementor-element.elementor-element-f9d95fa {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-df6cfb5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 30px 0px 30px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-12e91f6 .section-title {
        margin: 0px 0px 40px 0px;
    }

    .elementor-4647 .elementor-element.elementor-element-37c1a4a>.elementor-widget-container {
        margin: 0px 20px 15px 0px;
    }
}