.elementor-2717 .elementor-element.elementor-element-f6bc818>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-2717 .elementor-element.elementor-element-68f71d9>.elementor-container {
    max-width: 1320px;
}

.elementor-2717 .elementor-element.elementor-element-68f71d9>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-8830a1b>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #191919;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2717 .elementor-element.elementor-element-8830a1b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2717 .elementor-element.elementor-element-8830a1b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

/* .elementor-2717 .elementor-element.elementor-element-baf8e3b {
    text-align: left;
} */

.elementor-2717 .elementor-element.elementor-element-baf8e3b img {
    width: 250px;
    max-width: 250px;
    padding-top: 10px;
}

.elementor-2717 .elementor-element.elementor-element-baf8e3b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-1a1738c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-2717 .elementor-element.elementor-element-1a1738c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-55b254a>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-3feca22.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-2717 .elementor-element.elementor-element-3feca22>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #191919;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2717 .elementor-element.elementor-element-3feca22>.elementor-element-populated,
.elementor-2717 .elementor-element.elementor-element-3feca22>.elementor-element-populated>.elementor-background-overlay,
.elementor-2717 .elementor-element.elementor-element-3feca22>.elementor-background-slideshow {
    border-radius: 0px 0px 1px 0px;
}

.elementor-2717 .elementor-element.elementor-element-3feca22>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2717 .elementor-element.elementor-element-3feca22>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-b2b802a .header-top {
    background-color: #02010100;
}

.elementor-2717 .elementor-element.elementor-element-b2b802a .header-links.style2 i {
    color: #F2003A;
    font-size: 20px;
    width: 0px;
    height: 0px;
    line-height: 0px;
    margin-right: 30px;
}

.elementor-2717 .elementor-element.elementor-element-b2b802a {
    width: auto;
    max-width: auto;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper {
    justify-content: center;
    text-align: center;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item {
    justify-content: center;
    text-align: center;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item a {
    justify-content: center;
    text-align: center;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group {
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper.layout_1 .playrex-list-group-item:not(:last-child):after {
    height: 1px;
    background: #191919;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper.layout_2 .playrex-list-group-item:not(:last-child):after {
    width: 1px;
    background: #191919;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon .playrex-list-group-icon-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon i {
    font-size: 20px;
    color: #FFFFFF;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon svg {
    height: 20px;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon svg path {
    fill: #FFFFFF;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon .playrex-list-group-icon-image img {
    border-radius: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon.yes {
    width: 70px;
    height: 70px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper.layout_1 .playrex-list-group-item .playrex-list-group-text {
    width: calc(100% - 70px);
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper.layout_2 .playrex-list-group-item .playrex-list-group-text {
    width: calc(100% - 70px);
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper.layout_3 .playrex-list-group-item .playrex-list-group-text {
    width: calc(100% - 70px);
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-icon.yes:hover {
    background-color: #F2003A;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c .playrex-list-group .playrex-list-group-wrapper .playrex-list-group-item .playrex-list-group-text {
    text-align: left;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c {
    width: auto;
    max-width: auto;
}

.elementor-2717 .elementor-element.elementor-element-9c62f4c>.elementor-widget-container {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #191919;
}

.elementor-bc-flex-widget .elementor-2717 .elementor-element.elementor-element-7f905a8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-7f905a8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-7f905a8.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-2717 .elementor-element.elementor-element-7f905a8>.elementor-element-populated,
.elementor-2717 .elementor-element.elementor-element-7f905a8>.elementor-element-populated>.elementor-background-overlay,
.elementor-2717 .elementor-element.elementor-element-7f905a8>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-7f905a8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2717 .elementor-element.elementor-element-7f905a8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 50px;
}

.elementor-bc-flex-widget .elementor-2717 .elementor-element.elementor-element-2ba49dc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-2ba49dc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-2ba49dc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2717 .elementor-element.elementor-element-2ba49dc>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-bb4013a .cart-icon {
    font-size: 25px;
    color: #FFFFFF;
    padding: 25px 30px 25px 30px;
}

.elementor-2717 .elementor-element.elementor-element-bb4013a .cart-icon:hover {
    background-color: #220874;
}

.elementor-2717 .elementor-element.elementor-element-bb4013a .cart-icon {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #191919;
}

.elementor-2717 .elementor-element.elementor-element-bb4013a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-bb4013a {
    width: auto;
    max-width: auto;
}

.elementor-2717 .elementor-element.elementor-element-1812a91 {
    width: auto;
    max-width: auto;
}

.elementor-2717 .elementor-element.elementor-element-1812a91>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-4d76ffd .playrex-btn,
.elementor-2717 .elementor-element.elementor-element-4d76ffd .header-strem-btn {
    padding: 25px 46px 25px 45px;
}

.elementor-2717 .elementor-element.elementor-element-4d76ffd {
    width: auto;
    max-width: auto;
}
.elementor-element-9a372f4 .elementor-row {
    justify-content: flex-end;
}

@media(min-width:768px) {
    .elementor-2717 .elementor-element.elementor-element-8830a1b {
        width: 100%;
    }

    .elementor-2717 .elementor-element.elementor-element-1a1738c {
        width: 86.5%;
    }

    .elementor-2717 .elementor-element.elementor-element-7f905a8 {
        width: 26%;
    }

    .elementor-2717 .elementor-element.elementor-element-2ba49dc {
        width: 96%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2717 .elementor-element.elementor-element-8830a1b {
        width: 100%;
    }

    .elementor-2717 .elementor-element.elementor-element-1a1738c {
        width: 70%;
    }

    .elementor-2717 .elementor-element.elementor-element-7f905a8 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-2717 .elementor-element.elementor-element-4b1fa153 {
        padding: 15px 0px 15px 0px;
    }

    .elementor-2717 .elementor-element.elementor-element-f6bc818>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 15px;
    }

    .elementor-2717 .elementor-element.elementor-element-8830a1b>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2717 .elementor-element.elementor-element-baf8e3b img {
        width: 250px;
        max-width: 250px;
    }

    .elementor-2717 .elementor-element.elementor-element-7f905a8.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-2717 .elementor-element.elementor-element-16d3b84 {
        width: auto;
        max-width: auto;
    }
}

@media(max-width:767px) {
    .elementor-2717 .elementor-element.elementor-element-8830a1b {
        width: 100%;
    }

    .elementor-2717 .elementor-element.elementor-element-1a1738c {
        width: 50%;
    }
}