.elementor-5245 .elementor-element.elementor-element-e30a370:not(.elementor-motion-effects-element-type-background),
.elementor-5245 .elementor-element.elementor-element-e30a370>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/01/footer-bg-1-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5245 .elementor-element.elementor-element-e30a370 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 30px 0px;
}

.elementor-5245 .elementor-element.elementor-element-e30a370>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5245 .elementor-element.elementor-element-4510c70>.elementor-container {
    max-width: 620px;
}

.elementor-5245 .elementor-element.elementor-element-b3bc7ba.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-5245 .elementor-element.elementor-element-b3bc7ba>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-5245 .elementor-element.elementor-element-04d3e1e {
    text-align: center;
}

.elementor-5245 .elementor-element.elementor-element-04d3e1e img {
    width: 250px;
}

.elementor-5245 .elementor-element.elementor-element-04d3e1e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-5245 .elementor-element.elementor-element-7c97dd9 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-5245 .elementor-element.elementor-element-7c97dd9>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 7px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-widget-container {
    text-align: center;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-social-icon {
    background-color: #02010100;
    --icon-padding: 1em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF99;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-social-icon:hover {
    background-color: #F2003A;
    border-color: #F2003A;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-social-icon:hover i {
    color: #FFFFFF;
}

.elementor-5245 .elementor-element.elementor-element-6dcc922 .elementor-social-icon:hover svg {
    fill: #FFFFFF;
}

.elementor-5245 .elementor-element.elementor-element-f341d9c>.elementor-container {
    max-width: 880px;
}

.elementor-5245 .elementor-element.elementor-element-f341d9c {
    margin-top: 40px;
    margin-bottom: 0px;
}

.elementor-5245 .elementor-element.elementor-element-b32ed65.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-5245 .elementor-element.elementor-element-b32ed65>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-5245 .elementor-element.elementor-element-620b584>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-5245 .elementor-element.elementor-element-27270de {
    text-align: center;
}

.elementor-5245 .elementor-element.elementor-element-27270de>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-5245 .elementor-element.elementor-element-bb1107f {
    text-align: center;
}

.elementor-5245 .elementor-element.elementor-element-bb1107f>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

@media(max-width:767px) {
    .elementor-5245 .elementor-element.elementor-element-e30a370 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5245 .elementor-element.elementor-element-6dcc922 {
        --icon-size: 18px;
        --grid-column-gap: 10px;
    }
}