.elementor-381 .elementor-element.elementor-element-6d4823d {
    padding: 120px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-8aaeb5d>.elementor-container {
    max-width: 1320px;
}

.elementor-381 .elementor-element.elementor-element-aa88713>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-381 .elementor-element.elementor-element-905eef5:not(.elementor-motion-effects-element-type-background),
.elementor-381 .elementor-element.elementor-element-905eef5>.elementor-motion-effects-container>.elementor-motion-effects-layer, 

.elementor-2285 .elementor-element.elementor-element-905eef5:not(.elementor-motion-effects-element-type-background),
.elementor-2285 .elementor-element.elementor-element-905eef5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/01/body-bg-2-4.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-381 .elementor-element.elementor-element-905eef5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 090px 0px 0px 0px;
}
.elementor-2285 .elementor-element.elementor-element-905eef5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}

.elementor-381 .elementor-element.elementor-element-905eef5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-381 .elementor-element.elementor-element-ce01bda>.elementor-container,
.elementor-2285 .elementor-element.elementor-element-ce01bda>.elementor-container {
    max-width: 700px;
}

.elementor-381 .elementor-element.elementor-element-4bf0da1>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-381 .elementor-element.elementor-element-11d3b32 .title-area,
.elementor-2285 .elementor-element.elementor-element-11d3b32 .title-area {
    text-align: center;
}

.elementor-381 .elementor-element.elementor-element-feb4434>.elementor-container {
    max-width: 1320px;
}

.elementor-381 .elementor-element.elementor-element-067fe5d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-381 .elementor-element.elementor-element-1f7f879:not(.elementor-motion-effects-element-type-background),
.elementor-381 .elementor-element.elementor-element-1f7f879>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/01/body-bg-3-1.jpg");
}

.elementor-381 .elementor-element.elementor-element-1f7f879 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-381 .elementor-element.elementor-element-1f7f879>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-381 .elementor-element.elementor-element-2730731>.elementor-container {
    max-width: 1320px;
}

.elementor-381 .elementor-element.elementor-element-2730731 {
    padding: 120px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-9d9fea1>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-381 .elementor-element.elementor-element-116241d {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-116241d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-381 .elementor-element.elementor-element-a9464e0>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-a9464e0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 80px 0px 80px 0px;
}

.elementor-381 .elementor-element.elementor-element-ea8faea>.elementor-container {
    max-width: 1320px;
}

.elementor-381 .elementor-element.elementor-element-b0b6c7e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-381 .elementor-element.elementor-element-92e7bb9 {
    --e-image-carousel-slides-to-show: 6;
}

@media(max-width:1024px) {
    .elementor-381 .elementor-element.elementor-element-6d4823d {
        padding: 80px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-905eef5 {
        padding: 50px 0px 80px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-11d3b32 .title-area {
        margin: 0px 0px 030px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-2730731 {
        padding: 80px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-116241d {
        padding: 80px 0px 80px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-a9464e0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-a9464e0>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-92e7bb9 {
        --e-image-carousel-slides-to-show: 3;
    }
}

@media(max-width:767px) {
    .elementor-381 .elementor-element.elementor-element-2258d16>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-a9464e0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-a9464e0>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-92e7bb9 {
        --e-image-carousel-slides-to-show: 2;
    }
}